{% extends "bootstrap/base.html" %}

{% block title %}Flasky{% endblock %}

{% block head %}
{{ super() }}
<meta charset="utf-8" />
<link rel="shortcut icon" href="{{ url_for('static', filename = 'favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename = 'favicon.ico') }}" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}
<!--下面是导航栏-->
{% block navbar %}
<div class="navbar navbar-inverse bg-4" role="navigation">
    <div class="container bg-4">
        <!--这个div就是导航栏的容器，下面几个是其中的成分，其中第一个div是主要的标题，剩下的是扩展的-->
        <div class="navbar-header bg-4">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!--第二个导航栏标签，包括左右两个列表-->
        <div class="navbar-collapse collapse">
            <!--左边这个列表有两个内容，分别是home和profile-->
            <ul class="nav navbar-nav">
                <li>
                    <span class="glyphicon glyphicon-home"><a href="{{ url_for('main.index') }}">Home</a></span>
                </li>

                {% if current_user.is_authenticated %}
                <li>
                    <span class="glyphicon glyphicon-user"><a href="{{ url_for('main.user', username=current_user.username) }}">Profile</a></span>
                </li>
                {% endif %}
            </ul>
            <!--右边的这个列表就是一个下拉框，必须是认证用户才能看见，有头像和account字样，点击后显示下拉框-->
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="{{ current_user.gravatar(size=18) }}">
                        {{ current_user.name }} <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <!--此处是一个下拉框，本来应该还有两列分别是修改密码和修改邮箱的，但是省去了-->

                        <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
                    </ul>
                </li>
                {% else %}
                <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
<!--网页内容部分，但是上面的先是flash的内容-->
{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
</div>
<!--这下面是页面正文-->

{% block page_content %}{% endblock %}

<!--文章正文-->
<div class="container">
{% block post_content %}{% endblock %}
</div>
<!--結尾-->
<footer class="container-fluid bg-4 text-center">
  <p><span class="glyphicon glyphicon-cloud-download"></span> Visit my Github for more:
    <a href="http://www.github.com/tknnn" target="_blank">
      git@github:alex
    </a>
  </p>
  <p> <span class="glyphicon glyphicon-envelope"></span> Contact me: <a href="mailto:619323390@qq.com ">619323390@qq.com </a></p>
</footer>
{% endblock %}


<!--下面导入moment.js库-->
{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
<script  type="text/javascript" src="{{ url_for('static', filename = 'js/jquery.autosize.min.js') }}"></script>
<script>
    $(function(){
	    $('textarea').autosize();
		$("img").addClass("img-responsive");
    });
{{ moment.include_moment() }}
{% endblock %}
