{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}
<!--首页标题-->
{% block title %}Alex's Blog {% endblock %}
<!--页面内容-->
{% block page_content %}
<!--博客欢迎头-->
<div class="page-header text-center bg-2">
    <h1>Welcome to Alex's Blog!</h1>
    <p>Life is short, I use Python!</p>
</div>
{% endblock %}
<!--文章区内容-->
{% block post_content %}
<div class="container">
    <!--新来访者提示-->
    {% if not current_user.is_authenticated %}
    <div class="jumbotron">
        <h1>Hello,Stranger!</h1>
        <p>Please register or login to use this flask blog!</p>
        <p>
         <a class="btn btn-primary btn-large" href="{{ url_for('auth.register') }}">Register</a>
        </p>
    </div>
    {% endif %}
</div>
<!--提交文章表单-->
<div class="container">
  <div class="row">
      <!--左边分栏-->
    <div class="col-md-9">
      <div class="post">
        <div class="post-tabs">
          <div>
                {% if current_user.can(Permission.WRITE_ARTICLES) %}
                {{ wtf.quick_form(form) }}
                {% endif %}
          </div>
            <!--文章列表-->
          {% include '_posts.html' %}
        </div>
      </div>
        <!--导航栏-->
	  {% if pagination %}
      <div class="pagination text-center">
        {{ macros.pagination_widget(pagination, '.index') }}
      </div>
      {% endif %}
    </div>
      <!--右边分栏-->
    <div class="col-md-3">
      <div class="subscribe shadow frame" data-offset-top="611">
        <h3><b><span class="glyphicon glyphicon-tags"></span> Tags </b></h3>
      </div>
    </div>
  </div>
</div>
{% endblock %}

<!--pagedown模板声明-->
{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}